.myinfo{
    margin: 20px auto;
    background-color: rgb(246, 250, 249);
    width: 50%;
    padding: 20px;
    border-radius: 20px;

}
h1, p {
    text-align: center;
}
@media (max-width: 768px) {
  .myinfo{ width: 90%;
}
   
}
