.myinfo {
    margin: 20px auto;
    background-color: rgb(246, 250, 249);
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    text-align: center;

}

.button {
    margin: 20px auto;
    background-color: rgb(246, 250, 249);
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    font-weight: 700;
    font-size: medium;

}

h1,
h2,
h3,
p {
    text-align: center;
}

.list {
    margin: 20px auto;
    background-color: rgb(246, 250, 249);
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    font-weight: 700;
    font-size: medium;
    text-align: center;

}
ul{
      display: inline-block;
 
}


@media (max-width: 768px) {
    .myinfo {
        width: 90%;
    }
    .list{
        width: 90%;
    } 

}